.flexContainer{
    display:flex;
    flex-direction: column;
}

.flexRow{
    display:flex;
    flex-direction: row;
}
.PostAuthC {
    margin-left: 200px;
    margin-top: 100px;
}

.startSession{
    display:flex;
    flex-flow: column wrap;
    width:364px;
    height:256px;
    margin:24px;
    border-radius: 3px;
    background-color: #521751;
    color:white;
}
.sessionText{
    margin: 0 auto;
    padding: 5px;
}

.joinSession{
    width:364px;
    height:256px;
    margin:24px;
    border-radius: 3px;
    background-color: lightblue;
}